footer
  .container
    .row
      div(class="col-12 col-md-10 offset-md-1")
        h3 Flashcards
        p An app to help you study.<br/>Created by 
          a(href="http://cameroncabo.com") Cameron Cabo.
