header
  nav(class="navbar navbar-toggleable-md")
    
    .container
      a(href="/" class="navbar-brand") Flash Cards

      div(class="nav-links")
        if name
          form(action='/logout', method='POST')
            button(type='submit', class="btn btn-outline-secondary my-2 my-sm-0") Log out
        else
          a(href="/hello") Get started
