doctype html
html(lang="en")
  head
    title Flash Cards
  body
    header
      h1 Flash Cards!
    section#content
      p This is some random text so we can see how this looks.
    footer
      p An app to help you study
      p Created by Cameron Cabo.
