extends layout.pug

block content
  section#content
    if name
      h3 Welcome, #{name}!
    p How are you doing today?
    form(action='/logout', method='POST')
      button(type='submit', class='btn btn-outline-primary') Log out
