nav.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  margin-bottom: 2rem;
}

.half-space {
  height: 0.5rem;
}

.space {
  height: 1rem;
}

a.no-underline {
  text-decoration: none;
}

a.black {
  color: black;
}

pre {
  background: rgba(0, 0, 0, 0.075);
  border-radius: 0.25rem;
  padding: 1rem;
}

footer {
  width: 100%;
  background: black;
  color: white;
  margin-top: 2rem;
  padding: 2rem 0;
}

.min-height {
  min-height: calc(100vh - 286px);
}
